<template name="modalCredentials">
  <div class="ui small modal" id="modal-credentials">

    <header>
      <div class="wrapper">
        <div class="back">
          {{!--<i class="arrow left icon"></i>--}}
        </div>
         {{> siteLogo}}
        <div class="close">
          <i class="remove icon"></i>
        </div>
      </div>
    </header>
    <div class="content">
      {{> Template.dynamic template=currentContent}}
    </div>
    <div class="actions">
      <a href="#" class="btn-forgotPass">Forgot your password?</a> <br>
      <a href="#" class="btn-createAccount">Need an account?</a>
    </div>

  </div>
</template>
