#modal-credentials .actions {
  text-align: center;
  font-size: 14px;
  line-height: 1.5em;
}

#modal-credentials .actions a {
  color: #555;
}

#modal-credentials .actions a:hover {
  color: #333;
}
