<template name="jobApplicationReviewCV">
    <article class="twelve wide column">
        <div class="form-default">
            {{#with currentUserData}}
                <div class="ui celled grid">
                    <div class="row">
                        <div class="preview header">
                            <div class="profile picture">
                                <img src="/images/photo_placeholder.jpg" alt="" width= 90px height= 90px>
                            </div>
                            <div class="profile name">
                                <h1>{{upperCase profile.firstName}} {{upperCase profile.lastName}}</h1>
                            </div>
                            <div class="profile address">
                                <h2>{{upperCase state}}, {{upperCase country}}</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>VIDEO COVER LETTER</h3>
                        </div>
                        <div class="eleven wide column">
                            <div class="video-placeholder">
                                <p class="note">
                                    VIDEO PLAYER PLACE HOLDER
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>BASIC INFORMATION</h3>
                        </div>
                        <div class="eleven wide column">
                            <div class="infos">
                                <div class="info label">RANK</div>
                                <div class="main info">{{upperCase rank}}</div>
                            </div>
                            <div class="infos">
                                <div class="info label">PREFERRED VESSEL</div>
                                <div class="main info">{{upperCase vesselType}}</div>
                            </div>
                            <div class="infos boxed gray">
                                <div class="info label">EXPECTED</div>
                                <div class="main info">{{salaryRange}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>PERSONAL INFORMATION</h3>
                        </div>
                        <div class="eleven wide column">
                            <div class="info inline"><span>EMAIL</span> {{emails.[0].address}}</div>
                            <div class="two infos">
                                <div class="info inline"><span>BIRTHDAY</span> {{formatDate birthday 'MMMM D, YYYY'}}</div>
                                <div class="info inline"><span>GENDER</span> {{gender}}</div>
                            </div>
                            <div class="info inline"><span>TELEPHONE</span> {{contactNo}}</div>
                            <div class="info inline"><span>ADDRESS</span> {{address}}</div>
                            <div class="two infos">
                                <div class="info inline"><span>CITY</span> {{city}}</div>
                                <div class="info inline"><span>STATE</span> {{state}}</div>
                            </div>
                            <div class="two infos">
                                <div class="info inline"><span>COUNTRY</span> {{country}}</div>
                                <div class="info inline"><span>ZIP</span> {{zipCode}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>PRIMARY DOCUMENTS</h3>
                        </div>
                        <div class="eleven wide column">
                            <div class="ui custom preview primary-doc segment">
                                <div class="left part">
                                    <div class="doc type">VISA</div>
                                    <div class="doc number"><span>NUMBER</span>{{primaryDocs.visa.number}}</div>
                                </div>
                                <div class="right part">
                                    <div class="doc date-issue"><span>DATE ISSUED</span>{{formatDate primaryDocs.visa.dateIssued 'M / D / YY'}}</div>
                                    <div class="doc valid-until"><span>VALID UNTIL</span>{{formatDate primaryDocs.visa.validUntil 'M / D / YY'}}</div>
                                </div>
                            </div>
                            <div class="ui custom preview primary-doc segment">
                                <div class="left part">
                                    <div class="doc type">PASSPORT</div>
                                    <div class="doc number"><span>NUMBER</span>{{primaryDocs.passport.number}}</div>
                                </div>
                                <div class="right part">
                                    <div class="doc date-issue"><span>DATE ISSUED</span>{{formatDate primaryDocs.passport.dateIssued 'M / D / YY'}}</div>
                                    <div class="doc valid-until"><span>VALID UNTIL</span>{{formatDate primaryDocs.passport.validUntil 'M / D / YY'}}</div>
                                </div>
                            </div>
                            <div class="ui custom preview primary-doc segment">
                                <div class="left part">
                                    <div class="doc type">SEAMAN'S BOOK</div>
                                    <div class="doc number"><span>NUMBER</span>{{primaryDocs.seamansBook.number}}</div>
                                </div>
                                <div class="right part">
                                    <div class="doc date-issue"><span>DATE ISSUED</span>{{formatDate primaryDocs.seamansBook.dateIssued 'M / D / YY'}}</div>
                                    <div class="doc valid-until"><span>VALID UNTIL</span>{{formatDate primaryDocs.seamansBook.validUntil 'M / D / YY'}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>TRAINING CERTIFICATES</h3>
                        </div>
                        <div class="eleven wide column">
                            {{#if trainingCerts}}
                                {{#each trainingCerts}}
                                    <div class="ui custom large label">
                                        <div class="label-title">
                                            {{upperCase this}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                NONE
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>SUPPORTING DOCUMENTS</h3>
                        </div>
                        <div class="eleven wide column">
                            <a href="#" class="ui custom file-uploader segment">
                                <div class="left part">
                                    <div class="file name"><span>NAME</span>CAPTAIN AMERICA</div>
                                </div>
                                <div class="right part">
                                    <div class="additional info">10/11/95</div>
                                    <div class="file size"><span>FILE SIZE</span>35MB</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="five wide column">
                            <h3>JOB HISTORY</h3>
                        </div>
                        <div class="eleven wide column">
                            {{#if finalJobHistories}}
                                {{#each finalJobHistories}}
                                        <div class="ui custom list segment multi-info">
                                            <div class="left part">
                                                <div class="custom label">AGENCY</div>
                                                <div class="main info">{{upperCase agency}}</div>
                                                <div class="custom label">RANK</div>
                                                <div class="info">{{upperCase rank}}</div>
                                                <div class="custom label">VESSEL NAME</div>
                                                <div class="info">{{upperCase vesselName}}</div>
                                                <div class="custom label">VESSEL TYPE</div>
                                                <div class="info">{{upperCase vesselType}}</div>
                                            </div>
                                            <div class="right part">
                                                <div class="custom label">SIGN IN / SIGN OFF</div>
                                                <div class="additional info">{{jobHistorySignDate}}</div>
                                                <div class="custom label">SALARY</div>
                                                <div class="additional info">{{jobHistorySalaryRange}}</div>
                                            </div>
                                        </div>
                                {{/each}}
                            {{else}}
                                NONE
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/with}}
        </div>
    </article>
</template>
