<template name="dropdownVessels">
  <div class="ui primary floating dropdown labeled search icon button">
    <i class="anchor icon"></i>
    <span class="text">All Vessels</span>
    <div class="menu">
      <div class="item">Bulk Carrier</div>
      <div class="item">Container</div>
    </div>
  </div>
</template>
