<template name="dropdownVesselsSelection">
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="vesselType">
    <i class="dropdown icon"></i>
    <div class="default text">Select Vessel Type</div>
    <div class="menu">

      {{#each vessels}}
      <div class="item" data-value="{{this}}">{{this}}</div>
      {{/each}}
      <div class="item" data-value="Others">Others</div>
    </div>
  </div>
</template>
