<template name="jobApplicationTrainingCerts">
    <article class="twelve wide column">
        <div class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>TRAINING CERTIFICATES</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="custom field">
                                <label>ENTER YOUR TRAINING CERTIFICATES</label>
                                <input id="training-input" type="text">
                            </div>
                        </div>

                        {{#if trainings.length}}
                            {{#each trainings}}
                                <div class="ui custom large label right custom-button">
                                    <div class="label-title">
                                        {{this}}
                                    </div>
                                    <a class="custom-button remove">
                                        <i class="icon close"></i>
                                    </a>
                                </div>
                            {{/each}}
                        {{else}}
                            <div class="ui custom empty segment">
                                <p class="empty note">You haven't added any certificates yet.</p>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
