<template name="jobEditJobDetails">
    <article class="twelve wide column">
        <div id="jobDetails" class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>BASIC INFORMATION</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="custom field {{errClass 'title'}}">
                                <label>JOB TITLE</label>
                                <input type="text" value="{{currentJob.title}}" name="title">
                                <div class="error-placeholder">
                                    {{errMsg 'title'}}
                                </div>
                            </div>
                            <div class="custom field {{errClass 'vesselType'}}">
                                <label>VESSEL TYPE</label>
                                <input type="text" value="{{currentJob.vesselType}}" name="vesselType">
                                <div class="error-placeholder">
                                    {{errMsg 'vesselType'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="five wide column">
                        <h3>SALARY</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="custom inline fields">
                                <label>SALARY DETAILS</label>
                                <div class="field">
                                    <div class="ui radio checkbox checked">
                                        <input type="radio" name="hasSalary" checked="">
                                        <label class="salary">To be evaluated based on experience</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="hasSalary" value="true">
                                        <label class="salary">Set a proposal</label>
                                    </div>
                                </div>
                            </div>
                            <div class="three fields">
                                <div class="custom field {{errClass 'salary.min'}}">
                                    <label>MIN. SALARY</label>
                                    <input type="text" value="{{currentJob.salary.min}}" name="salary-min" {{disableSalary}}>
                                    <div class="error-placeholder">
                                        {{errMsg 'salary.min'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'salary.max'}}">
                                    <label>MAX. SALARY</label>
                                    <input type="text" value="{{currentJob.salary.max}}" name="salary-max" {{disableSalary}}>
                                    <div class="error-placeholder">
                                        {{errMsg 'salary.max'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="five wide column">
                        <h3>JOB DESCRIPTION</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="custom field">
                                <textarea class="btn-grp attached" value="{{currentJob.description}}" name="description" placeholder="Type here"></textarea>
                                <div class="textarea grp-buttons">
                                    <button href="#" class="ui icon button transparent unorder-list"><i class="icon list"></i></button>
                                    <button href="#" class="ui icon button transparent ordered-list"><i class="icon ordered list"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#each strArrFields}}
                    <div class="row">
                        <div class="five wide column">
                            <h3>{{long}}</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                        <div id="{{short}}" class="string-array-set eleven wide column">
                            <div class="ui form">
                                <div class="custom field">
                                    <label>ADD {{long}}</label>
                                    <input class="add-string" type="text">
                                </div>
                            </div>
                            {{#if strings.length}}
                                {{#each strings}}
                                <div class="ui custom large label right custom-button">
                                    <div class="label-title">
                                        {{this}}
                                    </div>
                                    <a class="remove-string custom-button remove">
                                        <i class="icon close"></i>
                                    </a>
                                </div>
                                {{/each}}
                            {{else}}
                                <div class="ui custom empty segment">
                                    <p class="empty note">You haven't added any {{short}} yet.</p>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </article>
</template>
