<template name="dropdownCurrencySelection">
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="{{name}}" class="{{class}}" value="{{value}}">
    <i class="dropdown icon"></i>
    <div class="default text">Select Currency</div>
    <div class="menu">
      {{#each currencies}}
      <div class="item" data-value="{{this}}"><i class="{{this}} icon"></i>{{this}}</div>
      {{/each}}
    </div>
  </div>
</template>
