<template name="error404">
    <div class="ui icon error message">
      <i class="warning sign icon"></i>
      <div class="content">
        <div class="header">
          Page Not Found.
        </div>
        <p>WALA WALA WALA WALA WALA WALA</p>
      </div>
    </div>
</template>
