<template name="jobItem">
    <a href="{{jobLink}}" class="item">
        {{> companyLogo}}
        <div class="content">
            <div class="header">{{title}}</div>
            <div class="meta">
                <span class="company name">{{companyName}}</span> &bull;
                {{state}} <i class="{{country}} flag"></i>
            </div>
            <div class="vessel-type">{{vesselType}}</div>
            <div class="post-status"><i class="time icon"></i>{{>timeago lastUpdate}}</div>
            <div class="proposed-salary">
                <div class="label">proposed salary</div>
                <div class="salary">{{salaryRange}}</div>
            </div>

            <!-- <div class="description"></div> -->
            <!-- <div class="extra">
                <div class="ui blue label"><i class="anchor icon"></i>Bulk</div>
                <div class="ui purple label"><i class="protect icon"></i> Deck Master</div>
                <div class="ui green label"><i class="money icon"></i> $1000 - $2000</div>
                <div class="ui yellow label"><i class="time icon"></i> Updated 7 days ago</div>
            </div> -->

        </div>
        <!-- <div class="actions"><div class="ui primary tiny button">Read More <i class="right chevron icon"></i></div></div> -->
    </a>
</template>
