<template name="jobDetailsAfterLogin">
        <!-- after logging in -->
        <div id="afterLogin" class="modalContent">
            <div class="content">
                {{#if isJobApplied}}
                    <div class="description">
                        <p>You already applied.</p>
                    </div>
                    <div class="ui vertical buttons">
                        <a href="{{updateCvLink}}" class="close ui blue button">
                            <i class="repeat icon"></i>
                            UPDATE CV
                        </a>
                        <a href="{{reviewCvLink}}" class="close ui blue button">
                            <i class="unhide icon"></i>
                            REVIEW CV
                        </a>
                    </div>
                {{else}}
                    <div class="description">
                        <p>What do you want to do?.</p>
                    </div>
                    <div class="ui vertical buttons">
                        <a href="{{updateCvLink}}" class="close ui blue button">
                            <i class="repeat icon"></i>
                            UPDATE CV
                        </a>
                        <a href="{{reviewCvLink}}" class="close ui blue button">
                            <i class="unhide icon"></i>
                            REVIEW CV
                        </a>
                        <a id="send-application" href="#" class="ui primary button">
                            <i class="send icon"></i>
                            SEND APPLICATION
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
        <!-- after logging in end -->
</template>
