<template name="jobDetailsNotAllowed">
        <div id="easyLogin" class="modalContent withLogo">
            <div class="header">
                <img src="/images/logo.png">
                <div>Seafarer's Jobsite</div>
            </div>
            <div class="content">
                <div class="description">
                    <p>Sorry, companies are'nt allowed to apply for a job!</p>
                </div>
            </div>
        </div>
</template>
