<template name="jobDetailsResumeCV">
        <div id="easyLogin" class="modalContent withLogo">
            <div class="header">
                <img src="/images/logo.png">
                <div>Seafarer's Jobsite</div>
            </div>
            <div class="content">
                {{#if applicationLink}}
                    <div class="description">
                        <p>Looks like you were encoding a CV but not yet finished!.</p>
                    </div>
                    <div class="ui vertical buttons">
                        <a href="{{applicationLink}}" class="close ui primary button">
                            <i class="file text icon"></i>
                            Resume CV
                        </a>
                    </div>
                    <div class="ui horizontal divider">
                        Or
                    </div>
                    <div class="ui vertical buttons">
                        <a href="#" class="ui primary button">
                            <i class="file text icon"></i>
                            Start over
                        </a>
                    </div>
                {{else}}
                    Loading...
                {{/if}}
            </div>
        </div>
</template>
