<template name="jobDetailsLoginOptions">
        <!-- if not logged in -->
        <div id="easyLogin" class="modalContent withLogo">
            <div class="header">
                <img src="/images/logo.png">
                <div>Seafarer's Jobsite</div>
            </div>
            <div class="content">
                <div class="description">
                    <p>In order to send an application you must be logged in.</p>
                </div>
                <div class="ui vertical buttons">
                    <div class="ui facebook button">
                        <i class="facebook icon"></i>
                        Facebook
                    </div>
                    <div class="ui google plus button">
                        <i class="google plus icon"></i>
                        Google Plus
                    </div>
                    <div id="emailLogin" class="ui primary button">
                        <i class="mail icon"></i>
                        Email
                    </div>
                </div>
                <div class="ui horizontal divider">
                    Or
                </div>
                <div class="description">
                    <p>If you dont have an account yet, sign up now and encode your Curriculum Vitae</p>
                </div>
                <div class="ui vertical buttons">
                    <a href="{{applicationLink}}" class="close ui primary button">
                        <i class="file text icon"></i>
                        Encode CV
                    </a>
                </div>
            </div>
        </div>
        <!-- if not logged in end -->
</template>
