<template name="applicationModal">
	<div id="application-modal" class="ui small modal">
	    <i class="circular close icon"></i>
	    <a href="#" class="back-btn hidden"><i class="circular arrow left icon"><span>BACK</span></i></a>
	    {{> Template.dynamic template=this}}
	</div>
</template>