<template name="jobDetailsSuccess">
    <!-- application sent -->
    <div id="successMessage" class="modalContent messageModal">
        <div class="content">
            Application was sent succesfully
        </div>
        <div class="actions ">
            <div class="close ui primary button">
                OK
            </div>
        </div>
    </div>
    <!-- application sent end -->
</template>