<template name="jobDetailsEmailLogin">
        <!-- email login -->
        <div id="emailLogin" class="modalContent">
            <div class="content">
                <form class="ui form">
                    <div class="custom field {{errClass 'email'}}">
                        <label>EMAIL</label>
                        <input name="email" type="text">
                        <div class="error-placeholder">
                            {{errMsg 'email'}}
                        </div>
                    </div>
                    <div class="custom field {{errClass 'password'}}">
                        <label>PASSWORD</label>
                        <input name="password" type="password">
                        <div class="error-placeholder">
                            {{errMsg 'password'}}
                        </div>
                    </div>
                    <input type="submit" class="hidden">
                </form>

                <a href="#">Forgot password?</a>
                <div id="loginWithEmail" class="ui primary button">
                    LOGIN
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- email login end -->
</template>
