<template name="header">

  <header>
    <div class="left">
      {{> siteLogo}}

      <button class="btn-menu">
        <i class="content icon"></i>
        MENU
      </button>

      <div class="divider"></div>
    </div><!-- end of left-->

    {{> searchboxJobs}}

    {{#if currentUser}}
    <div class="right">

      <div class="btn-group">
        <div class="ui basic primary icon button notification btn-bookmarks">
          <i class="bookmark icon"></i>
        </div>
        <div class="ui basic primary icon button notification btn-jobAlerts">
          <i class="warning sign icon"></i>
          <div class="floating ui red label">22</div>
        </div>
      </div>

      <div class="divider"></div>

      <button class="ui default button btn-profile">
        {{> profileImage}}<!--
      --><div class="name">
          {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}
         </div><!--
      --><i class="setting icon"></i>
      </button>
      <!-- <div class="btn-group">
        <button class="ui primary button">
          Logout
        </button>
      </div> -->
    </div><!-- end of right-->
    {{else}}
    <div class="right">
      <div class="btn-group">

          <button class="ui default button btn-signUp">
            SIGN UP
          </button><!--
        --><button class="ui default button btn-login">
            LOGIN
          </button><!--
        --><button class="ui primary button">
            POST A JOB
          </button>

      </div>
    </div>
    {{/if}}


  </header>

</template>
