
#inner-context > header {
  position: fixed;
  width: 100%;
  font-size: 1rem;
  height: 4.250em; /*68px*/
  background-color: #fff; /*#f9f9fa;*/
  z-index: 3;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.35);
  /*border-bottom: 1px solid #cccccc;*/
}

#inner-context > header:after {
  content: '';
  display:block;
  clear:both;
}

#inner-context > header > .left {
  float:left;
}
#inner-context > header > .right {
  float: right;
}
#inner-context > header > .left:after {
  content: '';
  display:block;
  clear:both;
}
#inner-context > header > .right:after {
  content: '';
  display:block;
  clear:both;
}

#inner-context > header #site-logo {
  float: left;
  width: 4.250em; /*68px*/
  height: 4.250em; /*68px*/
}

#inner-context > header #site-logo img{
  width:100%;
  height:100%;
}

#inner-context > header #site-logo > a {
  display: block;
  height: 100%;
  text-align: center;
  padding: 0.625em 0.688em;/*10px 11px*/
  background-color: #008f8f;
}

#inner-context > header #site-logo > a:hover {
  background-color: #00acac;
}

#inner-context > header .btn-menu {
  float: left;
  height: 2.833em; /*68px*/
  font-family: montserrat-light;
  font-size: 1.500em; /*24px*/
  text-align: center;
  color: #555;
  padding: 0 0.625em; /*15px*/
  border: none;
  background: none;
}

#inner-context > header .btn-menu:hover {
  background-color: #f7f7f7;
  color: #00acac;
}

#inner-context > header .btn-group {
  float: left;
  padding-right: 0.938em; /*15px*/
  padding-top: 0.813em; /*13px*/
}

#inner-context > header .btn-group > button {
  margin: 0;
}

#inner-context > header .divider {
  float: left;
  height: 2.750em; /*44px*/
  margin-top: 0.750em; /*12px*/
  margin-right: 0.938em; /*15px*/
  border-left: 2px solid #e4e4e4;
}

#inner-context > header .searchbox-jobs {
  float: left;
  width: 30%;
  margin-top: 0.750em; /*12px*/
}

/*
  profile
*/
#inner-context > header .btn-profile {
  display: block;
  float:left;
  height: 4.250em; /*68px*/
  font-size: 1.000em;
  padding: 0 0.938em; /*0 15px*/
  margin: 0;
}

#inner-context > header .btn-profile:focus {
  box-shadow: none !important;
}

#inner-context > header .btn-profile > .profile-image {
  display: inline-block;
  width: 2.750em; /*44px*/
  height: 2.750em; /*44px*/
  vertical-align: middle;
}

#inner-context > header .btn-profile > .name {
  display:inline-block;
  vertical-align: middle;
  max-width: 11.125em;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 0 0 0.625em; /*0 10px*/
}

#inner-context > header .btn-profile > .icon {
  display:inline-block;
  vertical-align: middle;
  font-size: 2.000em ; /*32px*/
  margin: 0;
}

/*
  notifications
*/
#inner-context > header .notification {
  position: relative;
}

#inner-context > header .notification > .label {
  font-size: 0.625em; /*10px*/
  padding: 0.500em; /*5px*/
}
