<template name="jobApplicationPromote">
    <article class="twelve wide column">
        <div class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>VIDEO COVERLETTER</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui custom video-uploader segment">
                            <div class="choice">
                                <a href="#">
                                    <i class="icon record"></i>
                                    <div class="label">RECORD FROM WEBCAM</div>
                                </a>
                            </div>
                            <div class="choice">
                                <a href="#">
                                    <i class="icon cloud upload"></i>
                                    <div class="label">UPLOAD VIDEO</div>
                                </a>
                            </div>
                            <div class="choice">
                                <a href="#">
                                    <i class="icon youtube square"></i>
                                    <div class="label">EMBED FROM YOUTUBE</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
