<template name="linksApplicant">
  <div class="group">
    <a href="#">
      <i class="certificate icon"></i>  <div class="text"> Curriculum Vitae </div>
    </a>
    <a href="#">
      <i class="inbox icon"></i>  <div class="text"> Inbox </div>
    </a>
    <a href="#">
      <i class="folder outline icon"></i>  <div class="text"> My Applications </div>
    </a>
    <a href="#">
      <i class="warning sign icon"></i>  <div class="text"> Notifications </div>
    </a>
    <a href="#">
      <i class="bookmark icon"></i>  <div class="text"> Bookmarks </div>
    </a>
  </div>
</template>
