#sidebar-account nav{
  padding-bottom: 11.313em; /*181px;*/
}

#sidebar-account header {
  width: 100%;
  height: auto;
  padding: 2.813em 1.250em 0.938em 1.250em; /*45px  20px 15px 20px*/
  background-image: -webkit-gradient(
  	linear,
  	right top,
  	left bottom,
  	color-stop(0.09, rgb(88, 196, 196)),
  	color-stop(0.4, rgb(0, 172, 172))
  );
  background-image: -o-linear-gradient(left bottom, rgb(88, 196, 196) 9%, rgb(0, 172, 172) 40%);
  background-image: -moz-linear-gradient(left bottom, rgb(88, 196, 196) 9%, rgb(0, 172, 172) 40%);
  background-image: -webkit-linear-gradient(left bottom, rgb(88, 196, 196) 9%, rgb(0, 172, 172) 40%);
  background-image: -ms-linear-gradient(left bottom, rgb(88, 196, 196) 9%, rgb(0, 172, 172) 40%);
  background-image: linear-gradient(to left bottom, rgb(88, 196, 196) 9%, rgb(0, 172, 172) 40%);
}

#sidebar-account header > .profile-image {
  width: 5.000em; /*80px*/
  height: 5.000em; /*80px*/
}

#sidebar-account header > .profile-image .ui.circular.image{
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
}

#sidebar-account header > h1{
  width: 100%;
  font-family: montserrat-light;
  font-weight: normal;
  font-size: 1.500em; /*24px*/
  text-transform: capitalize;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0.417em 0 0 0; /*10px*/
}
