<template name="sidebarAccount">
{{#if currentUser}}
  <!-- <div class="ui right sidebar custom" id="sidebar-account"> -->
    <header>

      {{> profileImage}}
      <h1>{{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</h1>

    </header>
    <div class="scroller">

      <nav>

        {{> linksApplicant}}

        <div class="divider"></div>

        <div class="group">
          <a href="#">
            <i class="settings icon"></i>  <div class="text"> Account Settings </div>
          </a>
          <a href="#" class="btn-logout">
            <i class="sign out icon"></i>  <div class="text"> Logout </div>
          </a>
        </div>
      </nav>
    </div><!-- end of scroller-->

  <!-- </div> -->
{{/if}}
</template>
