<template name="passwordEnrollSuccess">
    <div class="ui success message">
        <div class="header">Success!</div>
        <p>Your email has been verified. Enjoy job hunting.</p>
    </div>
</template>
