<template name="passwordResetSuccess">
    <div class="ui success message">
        <div class="header">Success!</div>
        <p>Your password has been successfully reset.</p>
    </div>
</template>
