section.ui.stackable.centered.grid.passwordDesign {
    margin: 0;
    height: 100%;
    background-image: url('images/forgot-password.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.passwordDesign .ui.celled.grid,
.passwordDesign .ui.celled.grid > .row,
.passwordDesign .ui.celled.grid > .column,
.passwordDesign .ui.celled.grid > .row > .column {
    box-shadow: none;
}

.passwordDesign > article > .form-default {
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
    margin-top: 60px;
    border-top: 5px solid #008f8f;
}

.passwordDesign > article > .form-default .ui.form {
    padding: 30px;
    padding-top: 20px;
}

.passwordDesign > article > .form-default .ui.form > .ui.header {
    font-family: montserrat-regular;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.7;
}

.passwordDesign > article > .form-default .ui.form > .ui.header > .sub.header {
    font-family: montserrat-regular;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.7;
}
