<template name="passwordForgot">
    <section class="ui stackable centered grid passwordDesign">
        <article class="eight wide column">
            <div class="form-default">
                <div class="ui celled grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            <form class="ui form">
                                <h1 class="ui header">
                                    Forgot Password
                                    <div class="sub header">Please provide your email address.</div>
                                </h1>
                                <div class="custom field {{hasError}}">
                                    <label>Email</label>
                                    <input type="email">
                                    {{#if hasError}}
                                    <div class="ui red pointing label">{{errorMessage}}</div>
                                    {{/if}}
                                </div>
                                <div class="ui primary button submit">
                                    Reset Password
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</template>
