<template name="passwordReset">
    <section class="ui stackable centered grid" id="password-reset">
        <article class="eight wide column">
            <div class="form-default">
                <div class="ui celled grid">
                    <div class="row">
                        <div class="sixteen wide column">
                            <form class="ui form">
                                {{#if tokenExpired}}
                                <div class="ui negative message">
                                  <div class="header">
                                    Set password token has expired.
                                  </div>
                                </div>
                                {{/if}}

                                <div class="field {{hasError 'password'}} required">
                                  <label>Password</label>
                                  <input type="password" name="password">

                                  {{#if hasError "password"}}
                                  <div class="ui red pointing label">
                                    {{getErrorMessage "password"}}
                                  </div>
                                  {{/if}}
                                </div>
                                <div class="field {{hasError 'confirmPassword'}} required">
                                  <label>Confirm Password</label>
                                  <input type="password" name="confirmPassword">

                                  {{#if hasError "confirmPassword"}}
                                  <div class="ui red pointing label">
                                    {{getErrorMessage "confirmPassword"}}
                                  </div>
                                  {{/if}}
                                </div>
                            <div class="ui primary button set">Set</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</template>
