<template name="dropdownStateSelection">
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="state" value="{{value}}">
    <i class="dropdown icon"></i>
    <div class="default text">Select State</div>
    <div class="menu">
      {{#each states}}
      <div class="item" data-value="{{code}}">{{name}}</div>
      {{/each}}
    </div>
  </div>
</template>
