/* Button Overrules*/
button:focus {
    outline: none;
}
.ui.form > .custom.field > .textarea.grp-buttons {
    position: absolute;
    top: 15px;
    left: 15px;
}
.ui.form > .custom.field > .grp-buttons > .ui.button {
    margin: 0;
}
.ui.button {
    font-family: montserrat-light;
    font-weight:normal;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px 30px 10px 30px;
}
.ui.icon.button {
    padding: 10px;
}
.ui.icon.button > i.icon {
    font-size: 18px;
}
.ui.default.button {
    background: none;
    color: #555;
}
.ui.default.button:hover {
    background-color: #f7f7f7;
    color: #00acac;
}
.ui.primary.button {
    background-color: #008f8f;
}
.ui.transparent.button {
    background-color: transparent;
    border: 1px solid #dadada;
}
.ui.transparent.button:hover {
    background-color: #008f8f;
    color: #fff;
    border: none;
}
.ui.primary.button:hover {
    background-color: #00acac;
}

.ui.basic.primary.button {
    box-shadow: 0px 0px 0px 2px rgba(39, 41, 43, 0.15) inset !important;
    color: rgba(0, 0, 0, 0.6) !important;
}
.ui.basic.primary.button:hover {
    background: transparent !important;
    box-shadow: 0px 0px 0px 2px #00acac inset !important;
    color: #00acac !important;
}
