@font-face {
  font-family: 'montserrat-regular';
  src: url('/fonts/montserrat/montserrat-regular-webfont.eot');
  src: url('/fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('/fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
       url('/fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'),
       url('/fonts/montserrat/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light';
  src: url('/fonts/montserrat/montserrat-light-webfont.eot');
  src: url('/fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
       url('/fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
       url('/fonts/montserrat/montserrat-light-webfont.ttf') format('truetype'),
       url('/fonts/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-bold';
  src: url('/fonts/montserrat/montserrat-bold-webfont.eot');
  src: url('/fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
       url('/fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
       url('/fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
       url('/fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-hairline';
  src: url('/fonts/montserrat/montserrat-hairline-webfont.eot');
  src: url('/fonts/montserrat/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/montserrat/montserrat-hairline-webfont.woff2') format('woff2'),
       url('/fonts/montserrat/montserrat-hairline-webfont.woff') format('woff'),
       url('/fonts/montserrat/montserrat-hairline-webfont.ttf') format('truetype'),
       url('/fonts/montserrat/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
  font-weight: normal;
  font-style: normal;
}
