.info {
    font-family: montserrat-regular;
    color: #555;
}
.info.paragraph {
    font-family: montserrat-regular;
    color: #555;
    font-size: 14px;
}
.infos {
    margin-bottom: 10px;
}
.two.infos {
    width: 100%;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;
}
.two.infos > .info {
    display: table-cell;
    width: 50%;
}
.main.info {
    font-size: 18px;
}
.inline.info {
    font-size: 18px;
    margin-bottom: 10px;
}
.inline.info > span {
    font-size: 14px;
    color: #008f8f;
    margin-right: 15px;
}
.info.label {
    font-size: 14px;
    color: #008f8f;
}
.infos.boxed {
    padding: 10px;
}
.boxed.transparent {
    border: 1px solid #dadada;
}
.boxed.gray {
    background-color: #f6f6f6;
}
