.ui.form .custom.fields > label {
    display: block;
    color: #008f8f;
    font-size: 14px;
    margin-bottom: 5px;
}

.ui.radio.checkbox .box:before, .ui.radio.checkbox label:before {
  border: 2px solid #555;
}

.ui.radio.checkbox .box:after, .ui.radio.checkbox label:after {
  background-color: #555;
}

.ui.form .custom.field {
    margin-bottom: 5px;
}

.ui.form .custom.field > input {
    border: none;
    border-bottom: 2px solid #dadada;
    color: #555;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 2px;
}

.ui.form .custom.field > textarea {
    border-radius: 0;
    box-shadow: none;
    border: 2px solid #dadada;
    color: #555;
}

.ui.form .custom.field > textarea.btn-grp.attached {
    padding-top: 65px;
}

.ui.form .custom.field > label {
    color: #008f8f;
    font-size: 14px;
    border-radius: 0;
    background-color: #fff;
}

.ui.form .custom.field > input:focus {
    box-shadow: none;
    border-color: #008f8f;
}



/*ERROR*/
.ui.form .custom.field > .error-placeholder {
    min-height: 20px;
    font-size: 14px;
    color: red;
}

.ui.form .custom.field.error > label {
    color: red;
}

.ui.form .custom.field.error > input {
    border-radius: 0;
    box-shadow: none;
}

.ui.form .custom.field.error > input:focus {
    box-shadow: none;
}
/*END ERROR*/
