.ui.custom.label {
    background-color: #fff;
    color: #555;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dadada;
    position: relative;
    margin-bottom: 15px;
}

.ui.custom.label.right.custom-button > .label-title {
    margin-right: 45px;
}

.ui.custom.label > .custom-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 12px 9px 12px;
    border-left: 1px dotted #dadada;
}

.ui.custom.label > .custom-button.remove:hover {
    background-color: #d95c5c;
}

.ui.custom.label > .custom-button > i {
    margin: 0;
    color: #d95c5c !important;
}

.ui.custom.label > .custom-button.remove:hover > i {
    color: #fff !important;
}
