.ui.message {
    border-radius: 0;
    box-shadow: none;
    background-color: #d9edf7;
    letter-spacing: 1px;
}

.ui.message > .header {
    color: #31708f;
}

.ui.message > .header .sub.header{
    color: #31708f;
    line-height: 1.4;
}


.ui.message > .button {
    background-color: #008f8f;
    color: #fff;
    font-family: montserrat-light;
    margin-left: 60px;
}

.custom.message > .content {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    color: #008f8f;
}
