@media only screen and (min-width: 1920px){
    .ui.small.modal {
      width: 31.2%;
      margin: 0em 0em 0em -15.6%;
    }
}
.ui.modal {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui.modal .ui.form {
    max-width: 400px;
    margin: 0 auto;
}

.ui.modal header {
  color: #fff;
  background-color: #00acac;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.ui.modal .wrapper {
  display: table;
  width: 100%;
  height: 68px;
}
.ui.modal header #site-logo,
.ui.modal header .back,
.ui.modal header .close {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.ui.modal header .back,
.ui.modal header .close {
  width: 68px;
  font-size: 36px;
  cursor: pointer;
}

/* UNIQUE MODALS */
#application-modal {
    padding: 0;
}

#application-modal > .close {
    top: 15px;
    right: 15px;
    color: #555;
    padding-top: 6px;
    margin: 0;
}

#application-modal > .back-btn {
    top: 15px;
    left: 15px;
    color: #555;
    margin: 0;
    position: absolute;
    opacity: .8;
    z-index: 1;
    font-size: 1.25em;
}

#application-modal > .back-btn > i > span{
    margin-left: 20px;
    font-family: montserrat-regular;
    font-size: 18px;
}

#application-modal > .back-btn:hover {
    opacity: 1;
}

#application-modal > .modalContent {
    padding: 2rem 6rem;
    position: relative;
    border-top: 5px solid #008f8f;
}

#application-modal > .modalContent > .header {
    background: #fff;
    text-align: center;
    border: none;
    font-family: montserrat-regular;
    text-transform: uppercase;
    padding-bottom: 0;
}

#application-modal > .modalContent > .header > img,
#application-modal > .modalContent > .header > div{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    color: #555;
}

#application-modal > .modalContent > .header > img {
    margin-right: 15px;
}

#application-modal > .modalContent > .content {
    padding-top: 40px;
}

#application-modal > .modalContent.withLogo > .content {
    padding-top: 20px;
}

#application-modal .hidden {
    display: none;
}

#application-modal > .modalContent > .content > .description {
    line-height: 1.7;
    letter-spacing: 1px;
    text-align: center;
    display: block;
}

#application-modal > .modalContent > .content > .vertical.buttons {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    max-width: 400px;
}

#application-modal > .modalContent > .content > .vertical.buttons > .button {
    margin-top: 20px;
}

#application-modal > .modalContent > .content > .vertical.buttons > .button:first-child,
#application-modal > .modalContent > .content > .vertical.buttons > .button:last-child {
    border-radius: 0;
}

#application-modal > .modalContent.messageModal > .content {
    padding-bottom: 40px;
    text-align: center;
}

#application-modal > .modalContent > .actions {
    padding: 0;
    background: #fff;
    border: none;
    text-align: center
}

#application-modal > .modalContent > .actions > .button {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    min-width: 200px;
}

#application-modal > #emailLogin.modalContent > .actions > .button {
    float: right;
}

#application-modal > #emailLogin.modalContent > .actions > a {
    float: left;
    line-height: 43px;
}

/* UNIQUE MODALS END */
