/* CUSTOM SEGMENTS */
.ui.custom.segments > .segment.no-border.top {
    border-top: none;
}

.ui.custom.segments > .segment.no-border.bottom {
    border-bottom: none;
}
/* CUSTOM SEGMENTS END */
/* EMPTY SEGMENT */
.ui.empty.custom.segment {
    min-height: 200px;
    border-radius: 0;
    border-style: dashed;
    box-shadow: none;
    border-color: #dadada;
    position: relative;
}

.ui.empty.custom.segment > .empty.note {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%)translateY(-50%);
    -ms-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
    color: #555;

}
/* EMPTY SEGMENT END */

/* INTERACTIVE SEGMENT */
a.ui.custom.segment {
    display: block;
}

a.ui.custom.segment:hover {
    background-color: rgba(0,0,0,.30);
}
/* INTERACTIVE SEGMENT */
.ui.custom.segment {
    padding: 15px;
    border-radius: 0;
    border: 1px solid #dadada;
    box-shadow: none;
    color: #555;
    position: relative;
    font-family: montserrat-regular;
}

.ui.custom.segment > .part {
    text-align: left;
    float: left;
}

.ui.custom.segment > .left.part {
    float: left;
}

.ui.custom.segment > .left.part:after,
.ui.custom.segment > .right.part:after,
.ui.custom.segment > .part:after {
    content: "";
    clear: both;
    display: block;
}

.ui.custom.segment > .right.part {
    text-align: right;
    float: right;
}

.ui.custom.segment > .part > .custom.label {
    font-size: 14px;
    color: #008f8f;
}

.ui.custom.segment > .part > .main.info {
    font-size: 24px;
    height: 31px;
}

.ui.custom.segment > .part > .additional.info {
    font-size: 14px;
    height: 18px;
}

.ui.custom.segment > .part > .info {
    font-size: 18px;
    height: 23px;
}

.ui.custom.segment.multi-info > .part > .info {
    margin-bottom: 10px;
}

.ui.custom.segment > .part > .state.info {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    text-transform: uppercase;
    color: #dadada;
    letter-spacing: 1px;
    height: 39px;
}

/* CUSTOM PREVIEW PRIMARY DOCUMENT SEGMENT */
.ui.custom.preview.primary-doc.segment > .part > .doc.type {
    color: #ccc;
    font-size: 24px;
}

.ui.custom.preview.primary-doc.segment > .part > .doc > span {
    font-size: 14px;
    margin-right: 15px;
    color: #008f8f;
}

.ui.custom.preview.primary-doc.segment > .part > .doc.date-issue {
    margin-bottom: 10px;
}
/* CUSTOM PREVIEW PRIMARY DOCUMENT SEGMENT END */

/* CUSTOM PICTURE UPLOADER SEGMENT */
.ui.custom.picture-uploader.segment {
    display: table;
}

.ui.custom.picture-uploader.segment > .picture {
    display: table-cell;
    vertical-align: middle;
}

.ui.custom.picture-uploader.segment > .picture > img {
    border-radius: 50%;
}

.ui.custom.picture-uploader.segment > .note {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
}

.ui.custom.picture-uploader.segment > .note > .button {
    text-align: center;
    margin: 0 auto;
    display: block;
}
/* CUSTOM PICTURE UPLOADER SEGMENT END */

/* CUSTOM FILE UPLOADER SEGMENT */
.ui.custom.file-uploader.segment > .left.part > .file.name {
    line-height: 40px;
}

.ui.custom.file-uploader.segment > .part > .file > span {
    color: #008f8f;
    margin-right: 15px;
    font-size: 14px;
}

.ui.custom.file-uploader.segment > .part > .additional.info {
    color: #008f8f;
}

.ui.custom.file-uploader.success.segment {
    border-color: #008f8f !important;
}

.ui.custom.file-uploader.success.segment > .part > .state {
    color: #008f8f;
    line-height: 40px;
    text-transform: uppercase;
}

.ui.custom.file-uploader.error.segment {
    border-color: #d95c5c !important;
}

.ui.custom.file-uploader.error.segment {
    border-color: #d95c5c !important;
}

.ui.custom.file-uploader.error.segment > .part > .state {
    color: #d95c5c;
    line-height: 40px;
    text-transform: uppercase;
}
/* CUSTOM FILE UPLOADER SEGMENT END */

/* CUSTOM VIDEO UPLOADER SEGMENT */
.ui.custom.video-uploader.segment {
    display: table;
    text-align: center;
    width: 100%;
}

.ui.custom.video-uploader.segment > .choice {
    display: table-cell;
}

.ui.custom.video-uploader.segment > .choice > a {
    color: #dadada;
}

.ui.custom.video-uploader.segment > .choice > a:hover {
    color: #555;
    cursor: pointer;
}

.ui.custom.video-uploader.segment > .choice > a > i {
    font-size: 80px;
    margin: 0;
    margin-bottom: 15px;
}
/* CUSTOM VIDEO UPLOADER SEGMENT END */

/* SEGMENT BUTTON */
.ui.custom.segment.right.custom-button > .custom-button > i {
    margin: 0;
}

.ui.custom.segment.right.custom-button > .right.part {
    margin-right: 70px;
}

.ui.custom.segment.right.custom-button > .custom-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 30px;
    border-left: 2px dotted #dadada;
    padding: 15px;
}

.ui.custom.segment.right.custom-button > .custom-button:hover {
    cursor: pointer;
}

.ui.custom.segment.right.custom-button > .custom-button.success:hover {
    cursor: default;
}

.ui.custom.segment.right.custom-button > .custom-button.success {
    pointer-events: none;
    color: #008f8f !important;
}

.ui.custom.segment.right.custom-button > .custom-button.remove-btn {
    color: #d95c5c !important;
}

.ui.custom.segment.right.custom-button > .custom-button.remove-btn:hover {
    color: #fff !important;
    background-color: #d95c5c;
}
/* SEGMENT BUTTON END */
