.sidebar.custom {
  width: 25.000em !important; /*300px = 18.750em; 400px = 25.000em */
  font-size: 1rem;
  background-color: #111416;
  overflow:hidden !important;
}

.sidebar.custom > .scroller {
  height: 100%;
  overflow: auto;
}

.sidebar.custom nav {
  display: table;
  width: 100%;
  height: 100%;
}

.sidebar.custom nav > .group {
  display: table-row;
  width: 100%;
}

/*.sidebar.custom nav > .group:before {
  content: '';
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

.sidebar.custom nav > .group:after {
  content: '';
  display: block;
  border-top: 1px solid rgba(255,255,255,.09);
}*/

.sidebar.custom nav > .group > a {
  display: table;
  width: 100%;
  font-family: montserrat-light;
  font-weight:normal;
  text-transform: uppercase;
  color: #cdcdcd;
  /*background-color: #2d2e30;
  border-top: 1px solid rgba(255,255,255,.1);
  border-bottom: 1px solid rgba(0,0,0,.25);*/
}

.sidebar.custom nav > .group > a:hover {
  color: #4d4d4d;
}
.sidebar.custom nav > .group > a > .text {
  display: table-cell;
  height: 4.250em; /*68px*/
  vertical-align: middle;
}

.sidebar.custom nav > .group > a > .icon {
  width: 2.188em; /*70px*/
  font-size: 2.000em; /*32px*/
  display: table-cell;
  height: 2.125em; /*68px*/
  vertical-align: middle;
}

.sidebar.custom nav > .group > a > .icon:before {
  opacity: 0.75;
}

.sidebar.custom nav > .divider {
  display: table-row;
  width: 100%;
  height: 100%;
}
