/* CSS declarations go here */
html, body {
    font-size: 16px;
    height: 100%;
    line-height: 1.7;
    letter-spacing: 1px;
    font-family: montserrat-light;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    /*background-color: #e4e4e4;*/
    color: #272f33;
    background: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-family: montserrat-regular;
}

hr {
    border: 1px solid #dadada;
}

.clearfix {
    clear: both;
}

/* Input Overrules*/
.ui.input input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui.form div.field input,
.ui.form div.field input:focus {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.ui.segment.no-border {
  box-shadow: none;
}
.ui.header.attached.no-border {
  border: 0;
  margin-right: 0;
  border-bottom: 1px solid #d4d4d5;
}
.ui.segment.attached.no-border {
  border: 0;
}

.video-placeholder {
    background-color: #f6f6f6;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 355px;
}
.video-placeholder > .note {
    font-size: 44px;
    color: #008f8f;
    line-height: 355px;
    text-align: center;
    font-family: montserrat-bold;
}

/*.ui.segment.attached {
  width: 100%;
  max-width: 100%;
  margin:0;
}*/
/*
* Scrollbar theming
* Please create a fallback for ie and mozilla using jScrollpane or iScroll
*/
::-webkit-scrollbar {
    width: 7px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: #008f8f;
    border-radius: 10px;
    width: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    display: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
