<template name="searchboxJobs">
  <div class="searchbox-jobs">
    <div class="ui fluid left icon input {{isLoading}}">
      <input type="text" placeholder="Search for jobs...">
      <i class="search icon"></i>
    </div>
  </div>
</template>
