<template name="jobEditPreview">
    <article class="twelve wide column">
        <div class="form-default">
            {{#with currentUserData}}
                <div class="ui celled grid">
                    <div class="row">
                        <div class="preview header">
                            <div class="profile name">
                                <h1>{{upperCase companyName}}</h1>
                            </div>
                            <div class="profile address">
                                <h2>{{upperCase state}}, {{upperCase country}}</h2>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="video-placeholder">
                            <p class="note">
                                SLIDER PLACEHOLDER
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four wide column">
                            <h3>BASIC INFORMATION</h3>
                        </div>
                        <div class="twelve wide column">
                            <div class="infos">
                                <div class="info label">JOB TITLE</div>
                                <div class="main info">{{title}}</div>
                            </div>
                            <div class="infos">
                                <div class="info label">VESSEL TYPE</div>
                                <div class="main info">{{vesselType}}</div>
                            </div>
                            <div class="infos boxed gray">
                                <div class="info label">PROPOSED SALARY</div>
                                <div class="main info">{{salaryRange}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four wide column">
                            <h3>JOB DESCRIPTION</h3>
                        </div>
                        <div class="twelve wide column">
                            <div class="info paragraph">
                                {{description}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="four wide column">
                            <h3>EMPLOYMENT BENEFITS</h3>
                        </div>
                        <div class="twelve wide column">
                            {{#if employmentBenefits}}
                                {{#each employmentBenefits}}
                                    <div class="ui custom large label">
                                        <div class="label-title">
                                            {{upperCase this}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                NONE
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="four wide column">
                            <h3>QUALIFICATIONS</h3>
                        </div>
                        <div class="twelve wide column">
                            {{#if otherQualifications}}
                                {{#each otherQualifications}}
                                    <div class="ui custom large label">
                                        <div class="label-title">
                                            {{upperCase this}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                NONE
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="four wide column">
                            <h3>TRAINING CERTIFICATES</h3>
                        </div>
                        <div class="twelve wide column">
                            {{#if requiredTrainings}}
                                {{#each requiredTrainings}}
                                    <div class="ui custom large label">
                                        <div class="label-title">
                                            {{upperCase this}}
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                NONE
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/with}}
        </div>
    </article>
</template>
