<template name="sidebarMisc">
  <div class="ui right sidebar custom" id="sidebar-misc">
    <header>
      <h1>Bookmarks</h1>
    </header>
    <div class="scroller">

      <nav>
        <div class="group">
          <a href="#">
            <i class="certificate icon"></i>  <div class="text"> Curriculum Vitae </div>
          </a>
          <a href="#">
            <i class="bookmark icon"></i>  <div class="text"> Bookmarks </div>
          </a>
          <a href="#">
            <i class="warning sign icon"></i>  <div class="text"> Job Alerts </div>
          </a>
        </div>

        <div class="divider"></div>

        <div class="group">
          <a href="#">
            <i class="settings icon"></i>  <div class="text"> Account Settings </div>
          </a>
          <a href="#">
            <i class="sign out icon"></i>  <div class="text"> Logout </div>
          </a>
        </div>
      </nav>
    </div><!-- end of scroller-->
  </div>
</template>
