<template name="sidebarMain">

  <div class="ui left sidebar custom" id="sidebar-main">
    <header>
        <h1>
            SEAFARERS JOBSITE
        </h1>
    </header>

    <div class="scroller">
      <nav>
        <div class="group">
          <a href="/">
            <i class="home icon"></i> <div class="text"> Home </div>
          </a>
          <a href="#">
            <i class="file text outline icon"></i>  <div class="text"> Post a Job </div>
          </a>
          <a href="#">
            <i class="briefcase icon"></i> <div class="text"> Jobs </div>
          </a>
          <a href="#">
            <i class="building icon"></i> <div class="text"> Agencies </div>
          </a>
          <a href="#">
            <i class="help icon"></i> <div class="text"> Help </div>
          </a>
        </div>

        <div class="divider"></div>

        {{#if currentUser}}
        <div class="group">
          <a href="#">
            <i class="sign in icon"></i>  <div class="text"> Login </div>
          </a>
          <a href="#">
            <i class="write icon"></i>  <div class="text"> Sign Up </div>
          </a>
        </div>
        {{/if}}
      </nav>
    </div><!-- end of scroller-->
  </div>

</template>
