#sidebar-main {
  padding-bottom: 3.400em; /*68px*/
}

#sidebar-main > header {
  background-color: #008f8f;
  -webkit-box-shadow: inset -55px 0px 15px -45px rgba(0,0,0,0.1);
  -moz-box-shadow: inset -55px 0px 15px -45px rgba(0,0,0,0.1);
  box-shadow: inset -55px 0px 15px -45px rgba(0,0,0,0.1);
}

#sidebar-main > header > h1 {
  width: 100%;
  height: 3.400em; /*68px*/
  font-family: montserrat-light;
  font-weight: normal;
  font-size:1.250em; /*20px*/
  line-height: 3.400em; /*68px*/
  color: #fff;
  text-align: center;
  cursor: pointer;
}
