<template name="jobApplicationJobHistory">
    <article class="twelve wide column">
        <div class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>JOB HISTORY</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                        <button id="addJobHistory" class="ui primary button">ADD JOB HISTORY</button>
                    </div>

                    <div class="eleven wide column">
                        {{#each applicant.jobHistories}}
                            <div class="job-history-card ui custom list segment multi-info">
                                <div class="left part">
                                    <div class="custom label">AGENCY</div>
                                    <div class="main info">{{agency}}</div>
                                    <div class="custom label">RANK</div>
                                    <div class="info">{{rank}}</div>
                                    <div class="custom label">VESSEL NAME</div>
                                    <div class="info">{{vesselName}}</div>
                                    <div class="custom label">VESSEL TYPE</div>
                                    <div class="info">{{vesselType}}</div>
                                </div>
                                <div class="right part">
                                    <div class="custom label">SIGN IN / SIGN OFF</div>
                                    <div class="additional info">
                                        {{signDate}}
                                    </div>
                                    <div class="custom label">SALARY</div>
                                    <div class="additional info">
                                        {{salaryRange}}
                                    </div>
                                    {{#if isDraft}}
                                        <div class="state info">DRAFT</div>
                                    {{/if}}
                                </div>
                            </div>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>

        <div id="jobHistoryForm" class="ui modal">
            {{#if actionData}}
                <i class="close icon"></i>
                {{> JobHistoryModal actionData}}
            {{else}}
                LOADING...
            {{/if}}
        </div>

    </article>
</template>
