<template name="JobHistoryModal">
    <div class="header">
        Modal Title
    </div>
    <div class="content">
        {{#with this}}
            <div class="custom field {{errClass 'agency'}}">
                <label>AGENCY</label>
                <input type="text" name="agency" value="{{agency}}">
                <div class="error-placeholder">
                    {{errMsg 'agency'}}
                </div>
            </div>
            <div class="custom field {{errClass 'rank'}}">
                <label>RANK</label>
                <input type="text" name="rank" value="{{rank}}">
                <div class="error-placeholder">
                    {{errMsg 'rank'}}
                </div>
            </div>
            <div class="custom field {{errClass 'signIn'}}">
                <label>SIGN IN</label>
                <input type="text" name="signIn">
                <div class="error-placeholder">
                    {{errMsg 'signIn'}}
                </div>
            </div>
            <div class="custom field {{errClass 'signOff'}}">
                <label>SIGN OFF</label>
                <input type="text" name="signOff">
                <div class="error-placeholder">
                    {{errMsg 'signOff'}}
                </div>
            </div>
            <div class="custom field {{errClass 'vesselName'}}">
                <label>VESSEL NAME</label>
                <input type="text" name="vesselName" value="{{vesselName}}">
                <div class="error-placeholder">
                    {{errMsg 'vesselName'}}
                </div>
            </div>
            <div class="custom field {{errClass 'vesselType'}}">
                <label>VESSEL TYPE</label>
                <input type="text" name="vesselType" value="{{vesselType}}">
                <div class="error-placeholder">
                    {{errMsg 'vesselType'}}
                </div>
            </div>
            <div class="custom field {{errClass 'salary.min'}}">
                <label>MIN. SALARY</label>
                <input type="text" name="salary-min" value="{{salary.min}}">
                <div class="error-placeholder">
                    {{errMsg 'salary.min'}}
                </div>
            </div>
            <div class="custom field {{errClass 'salary.max'}}">
                <label>MAX. SALARY</label>
                <input type="text" name="salary-max" value="{{salary.max}}">
                <div class="error-placeholder">
                    {{errMsg 'salary.max'}}
                </div>
            </div>
        {{/with}}
    </div>
    <div class="actions">
        {{#if isDraft}}
            <div id="save" class="ui button">Publish</div>
        {{else}}
            <div id="save" class="ui button">Close</div>
        {{/if}}

        {{#if isNew}}
            <div id="delete" class="ui button">Cancel</div>
        {{else}}
            <div id="delete" class="ui button">Delete</div>
        {{/if}}
    </div>
</template>
