<Template name="passwordButtons">
    <div class="ui button green create-account">
        Create Account
    </div>
    <div class="ui button green reset-password">
        Reset Password
    </div>
    <div class="ui button yellow change-password">
        Change Password
    </div>
    <div class="ui button blue forgot-password">
        Forgot Password
    </div>
</Template>
