Welcome to Seafarer's Jobsite!

Dear {{name}},

To start using your Seafarer account, you have to set your password first.
<a href="{{url}}">Setup Password</a> <br>

Yours sincerely, <br>
Seafarer's Jobsite Admin
