
    How to reset your Seafarer password <br>

    Dear {{name}}, <br>
    <p>
        To get back into your Seafarer account, you'll need to create a new password. <br>

        It's easy: <br>

            Click the link below to open a secure browser window. <br>
            <a href="{{url}}">Reset your password now</a>
        Link not working? Copy and paste the one below into your browser: <br>
        {{url}} <br>
    </p>

    Yours sincerely, <br>
    Seafarer's Jobsite Admin
