<template name="jobEditCompanyInfo">
    <article class="twelve wide column">
        <div id="companyInfo" class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>BASIC INFORMATION</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            {{#if currentUser}}
                                <div class="custom field {{errClass 'email'}}">
                                    <label>EMAIL</label>
                                    {{currentUserData.emails.[0].address}}
                                </div>
                                <div class="two fields">
                                    <div class="custom field {{errClass 'firstName'}}">
                                        <label>FIRST NAME</label>
                                        {{currentUserData.profile.firstName}}
                                    </div>
                                    <div class="custom field {{errClass 'lastName'}}">
                                        <label>LAST NAME</label>
                                        {{currentUserData.profile.lastName}}
                                    </div>
                                </div>
                            {{else}}
                                <div class="custom field {{errClass 'email'}}">
                                    <label>EMAIL</label>
                                    <input type="text" placeholder="sample@email.com" name="email">
                                    <div class="error-placeholder">
                                        {{errMsg 'email'}}
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="custom field {{errClass 'firstName'}}">
                                        <label>FIRST NAME</label>
                                        <input type="text" name="firstName">
                                        <div class="error-placeholder">
                                            {{errMsg 'firstName'}}
                                        </div>
                                    </div>
                                    <div class="custom field {{errClass 'lastName'}}">
                                        <label>LAST NAME</label>
                                        <input type="text" name="lastName">
                                        <div class="error-placeholder">
                                            {{errMsg 'lastName'}}
                                        </div>
                                    </div>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="five wide column">
                        <h3>COMPANY INFORMATION</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="custom field {{errClass 'companyName'}}">
                                <label>COMPANY NAME</label>
                                <input type="text" value="{{currentUserData.companyName}}" name="companyName">
                                <div class="error-placeholder">
                                    {{errMsg 'companyName'}}
                                </div>
                            </div>
                            <div class="custom field {{errClass 'address'}}">
                                <label>ADDRESS</label>
                                <input type="text" value="{{currentUserData.address}}" name="address">
                                <div class="error-placeholder">
                                    {{errMsg 'address'}}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="custom field {{errClass 'city'}}">
                                    <label>CITY</label>
                                    <input type="text" value="{{currentUserData.city}}" name="city">
                                    <div class="error-placeholder">
                                        {{errMsg 'city'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'state'}}">
                                    <label>STATE</label>
                                    <input type="text" value="{{currentUserData.state}}" name="state">
                                    <div class="error-placeholder">
                                        {{errMsg 'state'}}
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="custom field {{errClass 'country'}}">
                                    <label>COUNTRY</label>
                                    <input type="text" value="{{currentUserData.country}}" name="country">
                                    <div class="error-placeholder">
                                        {{errMsg 'country'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'zipCode'}}">
                                    <label>ZIP</label>
                                    <input type="text" value="{{currentUserData.zipCode}}" name="zipCode">
                                    <div class="error-placeholder">
                                        {{errMsg 'zipCode'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
