<template name="dropdownCountrySelection">
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="country" value="{{value}}">
    <i class="dropdown icon"></i>
    <div class="default text">Select Country</div>
    <div class="menu">
      {{#each countries}}
      <div class="item" data-value="{{code}}"><i class="{{icon}} flag"></i>{{name}}</div>
      {{/each}}
    </div>
  </div>
</template>
