<template name="dropdownCountry">
  <div class="ui primary floating dropdown labeled search icon button">
    <i class="world icon"></i>
    <span class="text">World Wide</span>
    <div class="menu">
      <div class="item">Arabic</div>
      <div class="item">Chinese</div>
      <div class="item">Danish</div>
      <div class="item">Dutch</div>
      <div class="item">English</div>
      <div class="item">French</div>
      <div class="item">German</div>
      <div class="item">Greek</div>
      <div class="item">Hungarian</div>
      <div class="item">Italian</div>
      <div class="item">Japanese</div>
      <div class="item">Korean</div>
      <div class="item">Lithuanian</div>
      <div class="item">Persian</div>
      <div class="item">Polish</div>
      <div class="item">Portuguese</div>
      <div class="item">Russian</div>
      <div class="item">Spanish</div>
      <div class="item">Swedish</div>
      <div class="item">Turkish</div>
      <div class="item">Vietnamese</div>
    </div>
  </div>
</template>
