<template name="jobApplicationBasicInfo">
    <article class="twelve wide column">
        <div id="basicInfo" class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>BASIC INFORMATION</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    {{#if currentUser}}
                        <div class="eleven wide column">
                            <div class="ui form">
                                <div class="custom field">
                                    <label>EMAIL</label>
                                    {{savedData.emails.[0].address}}
                                </div>
                                <div class="two fields">
                                    <div class="custom field">
                                        <label>FIRST NAME</label>
                                        {{savedData.profile.firstName}}
                                    </div>
                                    <div class="custom field">
                                        <label>LAST NAME</label>
                                        {{savedData.profile.lastName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="eleven wide column">
                            <div class="ui form">
                                <div class="custom field {{errClass 'email'}}">
                                    <label>EMAIL</label>
                                    <input type="text" name="email">
                                    <div class="error-placeholder">
                                        {{errMsg 'email'}}
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="custom field {{errClass 'firstName'}}">
                                        <label>FIRST NAME</label>
                                        <input type="text" name="firstName">
                                        <div class="error-placeholder">
                                            {{errMsg 'firstName'}}
                                        </div>
                                    </div>
                                    <div class="custom field {{errClass 'lastName'}}">
                                        <label>LAST NAME</label>
                                        <input type="text" name="lastName">
                                        <div class="error-placeholder">
                                            {{errMsg 'lastName'}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}

                </div>

                <div class="row">
                    <div class="five wide column">
                        <h3>PERSONAL INFORMATION</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="two fields">
                                <div class="custom field {{errClass 'birthday'}}">
                                    <label>BIRTHDAY</label>
                                    <input type="text" name="birthday">
                                    <div class="error-placeholder">
                                         {{errMsg 'birthday'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'gender'}}">
                                    <label>GENDER</label>
                                    <select name="gender">
                                        <option value="">Select Gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                    <div class="error-placeholder">
                                        {{errMsg 'gender'}}
                                    </div>
                                </div>
                            </div>
                            <div class="custom field{{errClass 'contactNo'}}">
                                <label>CONTACT</label>
                                <input type="text" value="{{savedData.contactNo}}" name="contactNo">
                                <div class="error-placeholder">
                                    {{errMsg 'contactNo'}}
                                </div>
                            </div>
                            <div class="custom field {{errClass 'address'}}">
                                <label>ADDRESS</label>
                                <input type="text" value="{{savedData.address}}" name="address">
                                <div class="error-placeholder">
                                    {{errMsg 'address'}}
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="custom field {{errClass 'city'}}">
                                    <label>CITY</label>
                                    <input type="text" value="{{savedData.city}}" name="city">
                                    <div class="error-placeholder">
                                        {{errMsg 'city'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'state'}}">
                                    <label>STATE</label>
                                    <input type="text" value="{{savedData.state}}" name="state">
                                    <div class="error-placeholder">
                                        {{errMsg 'state'}}
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                                <div class="custom field {{errClass 'country'}}">
                                    <label>COUNTRY</label>
                                    <input type="text" value="{{savedData.country}}" name="country">
                                    <div class="error-placeholder">
                                        {{errMsg 'country'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'zipCode'}}">
                                    <label>ZIP</label>
                                    <input type="text" value="{{savedData.zipCode}}" name="zipCode">
                                    <div class="error-placeholder">
                                        {{errMsg 'zipCode'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
