<template name="layoutVersion2">
  {{> sidebarMain}}

  <div class="ui right sidebar custom" id="sidebar-account">
    {{> sidebarAccount}}
  </div>

  {{> sidebarMisc}}

  <div id="inner-context" class="layout-v2">
    {{> header}}
    <div class="sub-header">
      <div class="left">
        {{> Template.dynamic template=breadcrumbs}}
      </div>
      <div class="right"></div>
    </div>
    <main>
      {{> Template.dynamic template=mainContent}}
    </main>
  </div> <!-- end of inner-context-->

  {{> modalCredentials}}

</template>
