<template name="layoutDefault">

  {{> sidebarMain}}

  <div class="ui right sidebar custom" id="sidebar-account">
    {{> sidebarAccount}}
  </div>

  {{> sidebarMisc}}

  <div id="inner-context">
    {{> header}}
    <main class="ui basic segment">
      {{> Template.dynamic template=mainContent}}
    </main>
  </div> <!-- end of inner-context-->

  {{> modalCredentials}}

</template>
