#inner-context.layout-v2 > .sub-header {
  position: fixed;
  display: table;
  top: 68px;
  left: 0;
  width: 100%;
  height: 44px;
  background-color: #555;
  color: #cdcdcd;
  padding: 0 25px;
  /*background-color: rgba(47, 61, 68, 0.1);*/
}

#inner-context.layout-v2 > .sub-header > .left,
#inner-context.layout-v2 > .sub-header > .right {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

#inner-context.layout-v2 > .sub-header .divider {
  color: #fff;
}

#inner-context.layout-v2 > main {
  margin-top:0;
  padding-top: 112px;
  overflow: hidden;
}
