<template name="layoutSteps">
    {{> sidebarMain}}

    <div class="ui right sidebar custom" id="sidebar-account">
        {{> sidebarAccount}}
    </div>

    {{> sidebarMisc}}

    <div id="inner-context" class="layout-v2">
        {{> header}}
        <div class="sub-header">
            <div class="left">
                {{> Template.dynamic template=breadcrumbs}}
            </div>
            <div class="right"></div>
        </div>
        <main>
            <div class="ui grid">
                <div id="main-content-steps" class="twelve wide column">
                    <div class="ui stackable centered grid">
                        {{> Template.dynamic template=mainContent}}
                    </div>
                </div>

                {{> Template.dynamic template=stepsProgress}}

            </div>
        </main>
    </div> <!-- end of inner-context-->

    {{> modalCredentials}}

</template>
