#inner-context.layout-v2 > main > .grid {
    margin: 0;
    height: 100%;
}

#inner-context.layout-v2 #sidebar-steps {
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 100%;
    padding: 0;
    position: relative;
}

#inner-context.layout-v2 #main-content-steps {
    background-color: #fff;
    height: 100%;
    padding: 0;
}

#inner-context.layout-v2 #main-content-steps > .ui.stackable.centered.grid {
    margin-left: 0;
    margin-right: 0;
}

#inner-context.layout-v2 #sidebar-steps > .steps {
    width: 100%;
    padding: 80px;
}

#inner-context.layout-v2 #sidebar-steps > .steps > h3 {
    font-family: montserrat-light;
    color: #555;
    font-size: 24px;
    margin-left: -30px;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .step:after {
    display: none;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .step {
    border-radius: 0;
    box-shadow: none;
    background-color: #f6f6f6;
    margin-bottom: 5px;
    padding: 0;
    font-family: montserrat-bold;
    text-transform: uppercase;
    width: 100%;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .step:before {
    background-color: #008f8f;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0;
    padding-top: 3px;
    color: #fff;
    font-size: 24px;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .step > .content > .title {
    padding-left: 15px;
    font-family: montserrat-light;
    color: #555;
    font-size: 1em;
}



/* ACTIVE STEP */
#inner-context.layout-v2 #sidebar-steps > .steps > .active.step > .content > .title {
    padding-left: 15px;
    color: #008f8f;
}
/* END ACTIVE STEP */



/* DISABLED STEP */
#inner-context.layout-v2 #sidebar-steps > .steps > .disabled.step:before {
    background-color: #555;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .disabled {
    opacity: .3;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .disabled.step > .content > .title {
    padding-left: 15px;
    color: #555;
}
/* END DISABLE STEP */



/* PREVIEW STEP */
#inner-context.layout-v2 #sidebar-steps > .steps > .preview.step:before {
    background-color: #555;
}

#inner-context.layout-v2 #sidebar-steps > .steps > .preview.step {
    margin-top: 30px;
}
/* END PREVIEW STEP */



#inner-context.layout-v2 #sidebar-steps > .next-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    font-family: montserrat-regular;
    background-color: #008f8f;
    padding-top: 15px;
    padding-bottom: 15px;
}

#inner-context.layout-v2 #sidebar-steps > .next-btn > i {
    color: #fff;
    opacity: 1;
}

#inner-context.layout-v2 > main {
    background-color: #fff;
}

/* MAIN CONTENT SETTINGS */
#inner-context.layout-v2 #main-content-steps {
    height: 100%;
    overflow: auto;
}
/* MAIN CONTENT SETTINGS END */
