<template name="selectTrainings">
  <select name="trainingRequirements" class="{{class}}">
    <option value="">Add Training Certificates</option>
    {{#each trainings}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
</template>
