<template name="selectJobTitle">
  <select name="title" class="{{class}}">
    <option value="">Set Job Title</option>
    {{#each jobTitles}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </select>
</template>
