<template name="jobApplicationPrimaryDocs">
    <article class="twelve wide column">
        <div id="primaryDocs" class="form-default">
            <div class="ui celled grid">
                <div class="row">
                    <div class="five wide column">
                        <h3>Primary Details</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="two fields">
                                <div class="custom field {{errClass 'rank'}}">
                                    <label>RANK</label>
                                    <input type="text" name="rank" value="{{savedData.rank}}">
                                    <div class="error-placeholder">
                                        {{errMsg 'rank'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'vesselType'}}">
                                    <label>PREFERRED VESSEL</label>
                                    <input type="text" name="vesselType" value="{{savedData.vesselType}}">
                                    <div class="error-placeholder">
                                        {{errMsg 'vesselType'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="five wide column">
                        <h3>EXPECTED SALARY</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui form">
                            <div class="two fields">
                                <div class="custom field {{errClass 'salary.min'}}">
                                    <label>MIN. SALARY</label>
                                    <input type="text" name="salary-min" value="{{savedData.salary.min}}">
                                    <div class="error-placeholder">
                                        {{errMsg 'salary.min'}}
                                    </div>
                                </div>
                                <div class="custom field {{errClass 'salary.max'}}">
                                    <label>MAX. SALARY</label>
                                    <input type="text" name="salary-max" value="{{savedData.salary.max}}">
                                    <div class="error-placeholder">
                                        {{errMsg 'salary.max'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{#each primaryDocs}}
                    <div class="row">
                        <div class="five wide column">
                            <h3>{{displayName}}</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor.
                            </p>
                        </div>
                        <div class="eleven wide column">
                            <div class="ui form">
                                <div class="custom field {{errClass number}}">
                                    <label>NUMBER</label>
                                    <input type="text" name="primaryDocs-{{name}}-number" value="{{numberValue}}">
                                    <div class="error-placeholder">
                                        {{errMsg number}}
                                    </div>
                                </div>
                                <div class="two fields">
                                    <div class="custom field {{errClass dateIssued}}">
                                        <label>DATE ISSUED</label>
                                        <input type="text" name="primaryDocs-{{name}}-dateIssued">
                                        <div class="error-placeholder">
                                            {{errMsg dateIssued}}
                                        </div>
                                    </div>
                                    <div class="custom field {{errClass validUntil}}">
                                        <label>VALID UNTIL</label>
                                        <input type="text" name="primaryDocs-{{name}}-validUntil">
                                        <div class="error-placeholder">
                                             {{errMsg validUntil}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}

                <div class="row">
                    <div class="five wide column">
                        <h3>PROFILE PICTURE</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor.
                        </p>
                    </div>
                    <div class="eleven wide column">
                        <div class="ui custom picture-uploader segment">
                            <div class="picture">
                                <img src="/images/photo_placeholder.jpg" alt="" with=150px height=150px>
                            </div>
                            <div class="note">
                                <div class="ui message">
                                    <h2 class="ui header">
                                        <i class="settings icon"></i>
                                        <div class="content">
                                            <div class="sub header">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                                nisi ut aliquip ex ea commodo consequat.
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                                <button class="ui primary button">UPLOAD PHOTO</button>
                            </div>
                            <div class="ui bottom attached progress">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>
