<template name="formLogin">
  <form class="ui form login" novalidate>
    <div class="field">
      <label>Email</label>
      <input type="email" name="email">
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password">
    </div>
    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox">
        <label>Keep me signed in.</label>
      </div>
    </div>

    <div class="ui divider"></div>

    <button type="submit" class="ui primary fluid submit button">Sign in</button>
  </form>
</template>
