<template name="jobDetails">
    <section class="ui stackable centered grid" id="job-details">
        <article class="eight wide column">
            <div class="form-default">
                {{#with currentJob}}
                    <div class="ui celled grid">
                        <div class="row">
                            <div class="preview header">
                                <div class="profile name">
                                    <h1>{{upperCase companyName}}</h1>
                                </div>
                                <div class="profile address">
                                    <h2>{{upperCase state}}, {{upperCase country}}</h2>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="video-placeholder">
                                <p class="note">
                                    SLIDER PLACEHOLDER
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <h3>BASIC INFORMATION</h3>
                            </div>
                            <div class="twelve wide column">
                                <div class="infos">
                                    <div class="info label">JOB TITLE</div>
                                    <div class="main info">{{title}}</div>
                                </div>
                                <div class="infos">
                                    <div class="info label">VESSEL TYPE</div>
                                    <div class="main info">{{vesselType}}</div>
                                </div>
                                <div class="infos boxed gray">
                                    <div class="info label">PROPOSED SALARY</div>
                                    <div class="main info">{{salaryRange}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <h3>JOB DESCRIPTION</h3>
                            </div>
                            <div class="twelve wide column">
                                <div class="info paragraph">
                                    {{description}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <h3>EMPLOYMENT BENEFITS</h3>
                            </div>
                            <div class="twelve wide column">
                                {{#if employmentBenefits}}
                                    {{#each employmentBenefits}}
                                        <div class="ui custom medium label">
                                            <div class="label-title">
                                                {{upperCase this}}
                                            </div>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    NONE
                                {{/if}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <h3>QUALIFICATIONS</h3>
                            </div>
                            <div class="twelve wide column">
                                {{#if otherQualifications}}
                                    {{#each otherQualifications}}
                                        <div class="ui custom medium label">
                                            <div class="label-title">
                                                {{upperCase this}}
                                            </div>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    NONE
                                {{/if}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="four wide column">
                                <h3>TRAINING CERTIFICATES</h3>
                            </div>
                            <div class="twelve wide column">
                                {{#if requiredTrainings}}
                                    {{#each requiredTrainings}}
                                        <div class="ui custom medium label">
                                            <div class="label-title">
                                                {{upperCase this}}
                                            </div>
                                        </div>
                                    {{/each}}
                                {{else}}
                                    NONE
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/with}}
            </div>

        <!-- <header>
        <h2 class="ui header">
          Chronos Maritime Services
          <span class="sub header"> RIZAL, PH <i class="ph flag"></i></span>
        </h2>
        </header>

        {{> jobDetailsSlider}}

        <main class="ui segment no-border">

        <div class="ui two column grid">
          <div class="column">
            <h3 class="ui header job-title">
              DECK MASTER
              <div class="sub header vessel-type">Bulk Carrier</div>
            </h3>
          </div>
          <div class="column right aligned">
            <div class="tools">
              <i class="print icon"></i>
              <i class="bookmark icon"></i>
            </div>
            <div class="last-update">
              <i class="clock icon"></i> Updated 7 mins agod
            </div>
          </div>
        </div>



        <div class="ui divider"></div>

        {{> jobDetailsDescription}}
        {{> jobDetailsBenefits}}
        {{> jobDetailsQualifications}}
        {{> jobDetailsTraining}}
        {{> jobDetailsMap}}

        </main> -->

        </article>
        <aside class="three wide column">
            {{> jobDetailsSidebar sidebarData}}
        </aside>
    </section>
    {{> applicationModal applicationModalTemplate}}
</template>
