/*#job-details > article > header {
  margin-top: 20px;
  padding-bottom: 0;
  margin-bottom: 15px;
}

#job-details > article > main {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#job-details > article > main .tools {
  font-size: 24px;
  cursor: pointer;
}

#job-details > article > main .last-update {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

#job-details > article > .slider {
  background-color: #fff;
}

#job-details #mapbox {
  width: 100%;
  height: 300px;
}*/

#job-details .ui.celled.grid,
#job-details .ui.celled.grid > .row,
#job-details .ui.celled.grid > .column.row,
#job-details .ui.celled.grid > .row > .column {
    box-shadow: none;
}

#job-details .hidden {
    display: none;
}

#job-details > article > .form-default {
    margin-top: 15px;
}

#job-details > article{
    background-color: #fff;
}

#job-details > article .preview.header > .profile.name > h1 {
    font-size: 24px;
    line-height: 11px;
}

#job-details > article .preview.header > .profile.address > h2 {
    font-size: 18px;
}

#job-details > article .preview.header > .profile.address {
    padding-left: 5px;
}

#job-details > article .four.wide.column > h3 {
    font-size: 14px;
    color: #555;
}

#job-details > article .twelve.wide.column > .infos.boxed.gray {
    font-size: 18px;
    color: #555;
}

#job-details > article .twelve.wide.column > .infos > .main.info {
    font-size: 18px;
    color: #555;
}

#job-details > article .twelve.wide.column > .info.paragraph {
    font-size: 14px;
    color: #555;
}

#job-details > article .video-placeholder {
    height: 231px;
}

#job-details > article .video-placeholder > .note {
    line-height: 231px;
}


#job-details > aside {
    margin-top: 25px;
    padding-top: 0;
    width: 100%;
    border: 0;
    box-shadow: none;
}

#job-details > aside > .custom.segments > .segment {
    border-radius: 0;
    font-family: montserrat-regular;
    font-weight: normal;
    border-color: #dadada;
}

#job-details > aside > .custom.segments > .segment > h6 {
    border-radius: 0;
    font-family: montserrat-regular;
    font-weight: normal;
    font-size: 18px;
    color: #555;
    margin: 0;
}

#job-details > aside > .custom.segments .profile-image {
    width: 80px;
    margin: 0 auto;
}

#job-details > aside > .custom.segments .salary {
    text-align: center;
    background-color: #f6f6f6;
    font-family: montserrat-regular;
    font-weight: normal;
    border-bottom: none;
}

#job-details > aside > .custom.segments .action-button {
    border-top: none;
}

#job-details > aside > .custom.segments .salary > .info {
    font-weight: normal;
}

#job-details > aside > .custom.segments .hiring-manager {
    margin: 0;
    font-family: montserrat-regular;
    font-weight: normal;
}

#job-details > aside > .custom.segments .hiring-manager.name {
    font-size: 18px;
    color: #555;
}

#job-details > aside > .custom.segments .hiring-manager.position {
    font-size: 18px;
    color: rgba(85,85,85,.70);
}

/*#job-details > aside .hiring-manager {
    margin: 0;
    font-family: montserrat-regular;
    font-weight: normal
}

#job-details > aside .hiring-manager > .sub.header {
    margin: 0;
    font-family: montserrat-regular;
    font-weight: normal
}

#job-details > aside .salary > .header {
    color: #555;
    font-size: 18px;
    font-family: montserrat-regular;
    font-weight: normal;
}

#job-details > aside .salary > .header > .sub.header {
    color: #008f8f;
    text-transform: uppercase;
    font-size: 14px;
    font-family: montserrat-regular;
    font-weight: normal;
}*/
