/*#inner-context.layout-v2 > main > aside{
  float: left;
  width: 30%;
  height: 100%;

}

#inner-context.layout-v2 > main > article {
  float: left;
  display: table;
  width: 70%;
  height: 100%;
  background-color: #fff;
}

#inner-context.layout-v2 > main > article > .foot-pusher {
  display: table-row;
  width: 100%;
  height: 100%;
}

#inner-context.layout-v2 > main > article > .foot-pusher > .scroller {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#inner-context.layout-v2 > main > article > .foot-pusher > .scroller > .content{
  height: auto;
  padding: 30px 25px 100px 25px;
}

#inner-context.layout-v2 > main > article > .next {
  display: table-row;
  width: 100%;
}

#inner-context.layout-v2 > main > aside > .job-edit-steps{
  margin-top: 50px;
}

#inner-context.layout-v2 > main > aside > .job-edit-steps.ui.steps .step.active {
  background-color: #00acac;
  border-radius: 0;
}

#inner-context.layout-v2 > main > aside > .job-edit-steps.ui.steps .step.active .title {
  color: #fff;
}

#inner-context.layout-v2 > main > aside > .job-edit-steps.ui.steps .step {
  border-radius: 0;
  background:none;
  box-shadow: none;
}

#inner-context.layout-v2 > main > aside > .job-edit-steps.ui.steps .step:not(.active):hover {
  background-color: rgba(47, 61, 68, 0.1);
}

#inner-context.layout-v2 > main > aside > .job-edit-steps.ui.steps .step:after {
  background-color: #00acac;
  border: none;
}*/
