<template name="jobEditProgress">
    <div id="sidebar-steps" class="four wide column">
        <div class="ui message">
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                    <div class="sub header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
            </h2>
            <button class="ui primary button">RESEND EMAIL VERIFICATION</button>
        </div>

        <div class="ui vertical ordered steps">
            <h3>STEPS</h3>

            {{#each steps}}
                <a href="{{link}}" class="{{status}} step">
                    <div class="content">
                        <div class="title">{{displayName}}</div>
                    </div>
                </a>
            {{/each}}

        </div>
        <button id="next-step" class="ui button next-btn">NEXT<i class="chevron right icon"></i></button>
    </div>
</template>
