<template name="jobEditBreadcrumbs">
  <div class="ui breadcrumb">
    <a class="section">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section">Apply Job</a>
    <i class="right chevron icon divider"></i>
    <div class="active section">{{stepDisplayName}}</div>
  </div>
</template>
