<template name="selectVessels">
  <select name="vesselType" class="{{class}}">
    <option value="">Set Vessel Type</option>
    {{#each vessels}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
</template>
