/*.preview.header {
    display: table;
    margin-bottom: 15px;
}

.preview.header > .picture > img {
    border-radius: 50%;
}

.preview.header > .profile {
    display: table-cell;
    vertical-align: middle;
    color: #555;
}

.preview.header > .profile > h1,
.preview.header > .profile > h2 {
    font-weight: normal;
}

.preview.header > .profile.name {
    padding-left: 30px;
}

.preview.header > .profile.address {
    padding-left: 15px;
}

.preview.header > .profile.name > h1 {
    font-size: 35px;
    line-height: 8px;
}

.preview.header > .profile.address > h2 {
    font-size: 24px;
}*/
