#inner-context #main-content-steps > .centered.grid > .column .form-default {
    padding-top: 30px;

}

#inner-context #main-content-steps > .centered.grid > .column .form-default .column,
#inner-context #main-content-steps > .centered.grid > .column .form-default .row,
#inner-context #main-content-steps > .centered.grid > .column .form-default .grid {
    box-shadow: none;
}

#inner-context #main-content-steps > .centered.grid > .column .form-default .grid >.row > .column > h3 {
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

#inner-context #main-content-steps > .centered.grid > .column .form-default .grid >.row > .column > p {
    color: #555;
}

#inner-context #main-content-steps > .centered.grid > .column .form-default .grid >.row {
    margin-bottom: 30px;
}
