<template name="jobApplicationProgress">
    <div id="sidebar-steps" class="four wide column">
        <div class="ui message">
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                    <div class="sub header">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
            </h2>
            <button class="ui primary button">RESEND EMAIL VERIFICATION</button>
        </div>

        <div class="ui vertical ordered steps">
            <h3>STEPS</h3>

            {{#each steps}}
                <a href="{{link}}" class="{{status}} step">
                    <div class="content">
                        <div class="title">{{displayName}}</div>
                    </div>
                </a>
            {{/each}}

        </div>
        {{#if isLastStep}}
            {{#if isJobApplied}}
                <button class="ui button next-btn">ALREADY APPLIED<i class="chevron right icon"></i></button>
            {{else}}
                <button id="send-application" class="ui button next-btn">SEND APPLICATION<i class="chevron right icon"></i></button>
            {{/if}}
        {{else}}
            <button id="next-step" class="ui button next-btn">NEXT<i class="chevron right icon"></i></button>
        {{/if}}
    </div>

    {{> applicationModal 'jobDetailsSuccess'}}
</template>
