<template name="jobs">
    <div class="ui stackable page grid">
        <article class="sixteen wide column" id="search-jobs-results">
            <header>
                <div class="count">
                    Showing {{showedJobs}} of {{allJobs}} jobs.
                </div>
                <div class="filter">
                    {{> dropdownVessels}}
                    {{> dropdownCountry}}
                </div>
            </header>
            <section class="ui job items">
                {{#if jobs}}
                    {{#each jobs}}
                        {{> jobItem this}}
                    {{/each}}
                {{else}}
                    No jobs
                {{/if}}
            </section>
        </article>
    </div>
</template>
