.ui.job.items {
    margin: 0;
}

#search-jobs-results header {
    display: table;
    width: 100%;
    margin: 1.071em 0; /*15px 0*/
    font-size: 14px;
}

#search-jobs-results header > .count {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
    color: #555;
    width: 30%;
    font-size: 1.143em; /*16px*/
}

#search-jobs-results header > .filter {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 70%;
    font-size: 1em; /*14px*/
}

.ui.job.items .item {
    padding: 0.938em; /*15px*/
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-bottom: 2px solid #e4e4e4;
    margin: 0;
    position: relative;
    padding-left: 130px;
    height: 115px;
    margin-bottom: 5px;
}

.ui.job.items .item:hover {
    border-bottom: 2px solid #00acac;
}

.ui.job.items .item .header{
    color: #555;
}

.ui.job.items .item:hover .header{
    color: #00acac !important;
}

.ui.job.items .item .content{
    display: table-cell;
    width: 100%;
    padding-left: 15px;
}

.ui.job.items .item .company-logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0em;
    padding: 0em;
    width: auto;
}

.ui.job.items .item .company-logo img{
    display: block;
    height: 100%;
    border-radius: 0;
    border: none;
}

.ui.job.items .item .content .vessel-type{
    font-size: 24px;
    color: rgba(85,85,85,.70);
    text-transform: uppercase;
    font-family: montserrat-bold;
    margin-top: 14px;
}

.ui.job.items .item .content .post-status{
    font-size: 16px;
    color: rgba(85,85,85,.70);
    position: absolute;
    top: 15px;
    right: 15px;
}

.ui.job.items .item .content .proposed-salary{
    font-size: 16px;
    color: rgba(85,85,85,.70);
    position: absolute;
    bottom: 15px;
    right: 0;
    background-color: #008f8f;
    padding: 5px;
    padding-left: 15px;
    min-width: 297px;
}

.ui.job.items .item .content .proposed-salary .label{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.ui.job.items .item .content .proposed-salary .salary{
    font-size: 24px;
    color: #fff;
}
