<template name="jobDetailsSidebar">

    <!-- <h6 class="ui top attached header no-border">
      HIRING MANAGER
    </h6>
    <div class="ui center attached aligned segment no-border">

      {{> profileImage}}
      <div class="ui divider"></div>
      <h5 class="ui header hiring-manager">
        Jerome Gamo
        <div class="sub header"> CEO</div>
      </h5>
      <div class="ui divider"></div>

      <div class="ui small message salary">
        <h5 class="ui header">
          $1000 - $2000
          <div class="sub header"> Proposed Salary </div>
        </h5>
      </div>
      <div class="ui primary fluid labeled icon button">
        Apply Now
        <i class="send icon"></i>
      </div>
    </div> -->

    <div class="ui custom segments">
        <div class="ui segment">
            <h6 class="main header">
                HIRING MANAGER
            </h6>
        </div>
        <div class="ui segment">
            {{> profileImage}}
        </div>
        <div class="ui segment">
            <div class="hiring-manager name">
                FirstName LastName
            </div>
            <div class="hiring-manager position">
                Position
            </div>
        </div>
        <div class="ui segment no-border top bottom">
            <div class="ui small message salary">
                <h5 class="info main">
                    {{salaryRange}}
                    <div class="info label"> PROPOSED SALARY </div>
                </h5>
            </div>
        </div>
        <div class="ui segment no-border top">
            {{#if isJobApplied}}
                <div class="custom small message">
                    <div class="content">
                        You already have an application.
                    </div>
                </div>
                <a href="{{updateCvLink}}" class="ui primary fluid labeled icon button">
                    UPDATE CV
                    <i class="repeat icon"></i>
                </a>
                <br>
                <a href="{{reviewCvLink}}" class="ui primary fluid labeled icon button">
                    REVIEW CV
                    <i class="unhide icon"></i>
                </a>
            {{else}}
                <div id="openModal" class="ui primary fluid labeled icon button">
                    APPLY NOW
                    <i class="send icon"></i>
                </div>
            {{/if}}
        </div>
    </div>

</template>

