<template name="jobDetailsQualifications">
  <div class="ui basic segment" id="qualification-list">
    <div class="ui top left attached teal label"> <i class="certificate icon"></i>Qualifications</div>
    <div class="ui list">
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
    </div>
  </div>
</template>
