<template name="jobDetailsMap">
  <div class="ui basic segment">
    <div class="ui top left attached teal label"> <i class="map icon"></i> How to find us. </div>
      <div id="mapbox">

      </div>
  </div>
</template>
