<template name="jobDetailsSlider">
  <div class="slider">
    <div class="item"><img src="/images/demo-slides/controls.png" alt="Owl Image"></div>
    <div class="item"><img src="/images/demo-slides/css3.png" alt="Owl Image"></div>
    <div class="item"><img src="/images/demo-slides/feather.png" alt="Owl Image"></div>
    <div class="item"><img src="/images/demo-slides/grab.png" alt="Owl Image"></div>
    <div class="item"><img src="/images/demo-slides/modern.png" alt="Owl Image"></div>
    <div class="item"><img src="/images/demo-slides/zombie.png" alt="Owl Image"></div>
  </div>
</template>
