<template name="jobDetailsBenefits">
  <div class="ui basic segment" id="benefit-list">
    <div class="ui top left attached teal label"> <i class="heart icon"></i> Employment Benefits</div>
    <div class="ui labels">
      <div class="ui label">
        Fun
      </div>
      <div class="ui label">
        An icon immediately inside an item sits inline
      </div>
      <div class="ui label">
        Smart
      </div>
      <div class="ui label">
        An icon immediately inside
      </div>
    </div>
  </div>

</template>
