<template name="jobDetailsTraining">
  <div class="ui basic segment" id="training-list">
    <div class="ui top left attached teal label"> <i class="life ring icon"></i> Required Training</div>
    <div class="ui list">
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
      <div class="item">
        <i class="checkmark icon"></i>
        An icon immediately inside an item sits inline this content will sit under the icon if there is a line break
      </div>
    </div>
  </div>
</template>
