<template name="jobDetailsDescription">
  <div class="ui basic segment">
    <div class="ui top left attached teal label"> <i class="file icon"></i> Job Description</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, nisi enim inventore in porro voluptatum ipsam delectus cum. Est adipisci autem tempora rem ratione, ad obcaecati mollitia totam officiis fuga!</p>
  </div>
</template>
