<template name="dropdownJobTitleSelection">
  <div class="ui fluid search selection dropdown">
    <input type="hidden" name="title">
    <i class="dropdown icon"></i>
    <div class="default text">Select Job Title</div>
    <div class="menu">

      {{#each jobTitles}}
      <div class="item" data-value="{{name}}">{{name}}</div>
      {{/each}}
      <div class="item" data-value="Others">Others</div>
    </div>
  </div>
</template>
